/* svg {
  background-color:;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f7e8;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.hr-one {
  width: 600px;
  border-bottom: 0px;
  margin: 15px 0 30px 0;
}
.description {
  margin-top: 40px;
}
.description h1 {
  line-height: 0.1em;
}
.what,
.guideline {
  font-weight: 400;
}
.description p {
  margin: 0px 565px 0px 565px;
  font-size: 18px;
  text-align: justify;
}

.hover-content {
  top: 0;
  left: 0;
  max-width: 280px;
  color: #2a3356;
  padding: 0.5em;
  border-radius: 2px;
  border: solid 1px;
  opacity: 1;
  background-color: #fafcc2;
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: left;
}
.tick text {
  font-size: 15px;
}
.description,
.big-wrapper,
.map-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.title-one,
.title-two {
  margin-bottom: 30px;
  text-align: center;
}
.big-wrapper {
  margin-top: 50px;
}

.line-chart-container,
.inner-wrapper,
.comparison-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
/* .inner-wrapper {
  position: relative;
}
 */
