/* svg {
  background-color:;
} */

body {
  background-color: #fff7e8;
  display: flex;
  flex-direction: column;
}

.description {
  justify-content: center;
  align-items: center;
}
.comparison-container {
  display: flex;
  flex-direction: row;
}

.line-chart-container {
  display: flex;
  flex-direction: row;
}
